# ~/.config/tmux/tmux.local.conf

# statusbar colour
# run `for i in {0..255}; do printf '\x1b[38;5;%dmcolour%d\x1b[0m\n' $i $i; done`
# to list all colours in terminal
set -g status-bg colour111
set -g status-fg black

# project switcher
bind-key p run-shell '~/Projects/Scripts/projectpicker/projectpicker_nvim'

